
#menu1 {
    float: left;
}

#main {
    background-image: url("Menu1.png");
    background-size: cover;
}

#retiro {
    background-image: url("MenuRetiro.png");
    background-size: cover;
}

#retiroR {
    background-image: url("MenuRetiroR.png");
    background-size: cover;
}


#menu2 {
    float: right;
}